﻿@using ASNClub.ViewModels.Product;
@model ProductAllViewModel
@{
    var discountPrice = decimal.Zero;
    if (Model.IsDiscount)
    {
        discountPrice = Model.Price - ((Model.Price * (decimal)Model.DiscountRate) / 100);
    }
}
<div class="form-group product">
    <div class="col-sm-3 col-xs-3">
        <img class="img-responsive" src="@Model.ImgUrl" />
    </div>
    <div class="col-sm-6 col-xs-6">
        <div class="col-xs-12">@Model.Type For @Model.Make @Model.Model</div>
        <div class="col-xs-12"><small>Quantity:<span class="quantity-input">@Model.QuantityFromShoppingCart</span></small></div>
        @if (Model.Color != null)
        {
            <div class="col-xs-12"><small>Color:<span>@Model.Color</span></small></div>
        }
    </div>
    <div class="col-sm-3 col-xs-3 text-right">
        @if (Model.IsDiscount)
        {
            <span class="text-muted text-decoration-line-through h6">@Model.Price BGN</span>
            <br /> <!-- Add a line break here -->
            <span id="price" class="h5">@discountPrice BGN</span>
        }
        else
        {
            <span id="price" class="h5">@Model.Price BGN</span>
        }
    </div>
</div>
        <hr style="margin-top: 10px; margin-bottom: 10px;"> <!-- Add a horizontal line here -->

