@using ASNClub.ViewModels.Product;
@model ProductAllViewModel

<div class="col-md-4">
    <div class="card mb-3">
        <img class="card-img-top" src="@Model.ImgUrl" alt="House Image">
        <div class="card-body text-center">
            <h4>@Model.Make</h4>
            <h6>Address: <b>@Model.Model</b></h6>
            <h6>
                Price Per Month:
                <b>@($"{Model.Price:f2}") BGN</b>
            </h6>
            <br />
            <a asp-controller="House" asp-action="Details" asp-route-id="@Model.Id"
               class="btn btn-success">Details</a>
        </div>
    </div>
</div>