@using ASNClub.ViewModels.Product;
@{
    ViewBag.Title = "Edit product";
}
@model ProductFormModel

<div class="row">
    <div class="col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
        <form method="post">
                <input asp-for="Id" style="display:none" value="@Model.Id">

            <!--  Make  -->
            <div class="form-group">
                <label asp-for="Make"></label>
                <input asp-for="Make" class="form-control" value="@Model.Make" placeholder="Make...">
                <span asp-validation-for="Make" class="small text-danger"></span>
            </div>
            <!--  Model  -->
            <div class="form-group">
                <label asp-for="Model"></label>
                <input asp-for="Model" class="form-control" value="@Model.Model" placeholder="Model...">
                <span asp-validation-for="Model" class="small text-danger"></span>
            </div>
            <!--  Description  -->
            <div class="form-group">
                <label asp-for="Description"></label>
                <textarea asp-for="Description" rows="4" class="form-control" value="@Model.Description" placeholder="Two bedrooms..."></textarea>
                <span asp-validation-for="Description" class="small text-danger"></span>
            </div>
            <!--  ImgUrl  -->
            <div class="form-group">
                <label>ImgUrls</label>
                <div id="imgUrlsContainer">
                    @for (int i = 0; i < Model.ImgUrls.Count(); i++)//ERROR _-------------
                    {
                        <div class="input-group mb-3">
                            <input asp-for="ImgUrls[i]" class="form-control" value="@Model.ImgUrls[i]" placeholder="Image URL...">
                            <button class="btn btn-outline-danger remove-imgurl" type="button"><i class="bi bi-x"></i></button>
                        </div>
                    }
                </div>
                <button class="btn btn-outline-primary add-imgurl" type="button">Add Image URL</button>
                <span asp-validation-for="ImgUrls" class="small text-danger"></span>
            </div>
            <!--  Price  -->
            <div class="form-group">
                <label asp-for="Price"></label>
                <input asp-for="Price" value="@Model.Price" class="form-control">
                <span asp-validation-for="Price" class="small text-danger"></span>
            </div>
            <!--  TypeId  -->
            <div class="form-group">
                <label asp-for="TypeId"></label>
                <select asp-for="TypeId" class="form-control" value="@Model.TypeId">
                    @foreach (var type in Model.Types)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </select>
                <span asp-validation-for="TypeId" class="small text-danger"></span>
            </div>
            <!--  DiscountId  -->
            <div class="form-group">
                <label>
                    <input id="discountCheckbox" type="checkbox"> Add Discount
                </label>
            </div>
            <input type="hidden" asp-for="Discount.IsDiscount" value="@Model.Discount.IsDiscount" id="isDiscountAdded">
            <div id="discountSection" style="display: none;">
                <div class="form-group">
                    <label asp-for="Discount.DiscountRate"></label>
                    <input asp-for="Discount.DiscountRate" value="@Model.Discount.DiscountRate" class="form-control">
                    <span asp-validation-for="Discount.DiscountRate" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Discount.StartDate"></label>
                    <input asp-for="Discount.StartDate" value="@Model.Discount.StartDate" class="form-control">
                    <span asp-validation-for="Discount.StartDate" class="small text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Discount.EndDate"></label>
                    <input asp-for="Discount.EndDate" value="@Model.Discount.EndDate" class="form-control">
                    <span asp-validation-for="Discount.EndDate" class="small text-danger"></span>
                </div>
            </div>
            <!--  CategoryId  -->
            <div class="form-group">
                <label asp-for="MaterialId"></label>
                <select asp-for="MaterialId" value="@Model.MaterialId"class="form-control">
                    @foreach (var category in Model.Materials)
                    {
                        <option value="@category.Id">@category.Name</option>
                    }
                </select>
                <span asp-validation-for="MaterialId" class="small text-danger"></span>
            </div>
            <!--  ColorId  -->
            <div class="form-group">
                <label>
                    <input id="colorCheckbox" type="checkbox"> Add Color
                </label>
            </div>
            <div id="colorSection" style="display: none;">
                <div class="form-group">
                    <label asp-for="ColorId"></label>
                    <select asp-for="ColorId" value="@Model.ColorId"class="form-control">
                        @foreach (var color in Model.Colors)
                        {
                            <option value="@color.Id">@color.Name</option>
                        }
                    </select>
                    <span asp-validation-for="ColorId" class="small text-danger"></span>
                </div>
            </div>
            <!--  Quantity  -->
            <div class="form-group">
                <label asp-for="Quantity"></label>
                <input asp-for="Quantity" value="@Model.Quantity" class="form-control">
                <span asp-validation-for="Quantity" class="small text-danger"></span>
            </div>


            <div class="text-center">
                <input class="btn btn-primary mt-3" type="submit" value="Save" />
            </div>
        </form>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $('#colorCheckbox').change(function () {
            $('#colorSection').toggle(this.checked);
        });
    });// TO DO Color shoud be like discount

    $(document).ready(function () {
        $('#discountCheckbox').change(function () {
            $('#discountSection').toggle(this.checked);

            // Update the hidden input field with the checkbox's state
            $('#isDiscountAdded').val(this.checked);
        });
    });
    $(document).ready(function () {
        // Add new input field for ImgUrl
        $('.add-imgurl').click(function () {
            var inputGroup = $('<div class="input-group mb-3"></div>');
            var input = $('<input class="form-control" placeholder="Image URL...">').attr('name', 'ImgUrls').attr('type', 'text');
            var removeButton = $('<button class="btn btn-outline-danger remove-imgurl" type="button"><i class="bi bi-x"></i></button>');
            inputGroup.append(input).append(removeButton);
            $('#imgUrlsContainer').append(inputGroup);
        });

        // Remove input field for ImgUrl
        $(document).on('click', '.remove-imgurl', function () {
            $(this).closest('.input-group').remove();
        });
    });
</script>