@using ASNClub.Infrastructure.Extensions;
@using ASNClub.ViewModels.Order;
@{
    ViewBag.Title = "Checkout";
}

@model OrderViewModel
<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container wrapper">
    <div class="row cart-head">
        <div class="container">
            <div class="row">
                <p></p>
            </div>
            <div class="row">
                <p h3>Finish order</p>
            </div>
        </div>
    </div>
    <div class="row cart-body">

        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-push-6 col-sm-push-6">
            <!--REVIEW ORDER-->
            <div class="panel panel-info">
                <div class="panel-heading">
                    Review Order <div class="pull-right"><small><a asp-controller="ShoppingCart" asp-action="MyShoppingCart" class="afix-1">Edit Cart</a></small></div>
                </div>

                <div class="panel-body">
                    @foreach (var product in Model.Products)
                    {
                        <partial name="_OrderProductPartial" model="product"></partial>
                        <div class="form-group"><hr /></div>
                    }
                </div>
                <div class="form-group">
                    <div class="col-xs-12">
                        <strong>Order Total</strong>
                        <div class="pull-right"><span id="total" class="h4"></span></div>
                    </div>
                </div>
            </div>
            <!--REVIEW ORDER END-->
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 col-md-pull-6 col-sm-pull-6">
            <!--SHIPPING METHOD-->
            <div class="panel panel-info">
                <div class="panel-heading">Address</div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="col-md-12">
                            <h4>Shipping Address</h4>
                        </div>
                    </div>
                    <form method="post">
                        <input asp-for="Profile.Id" style="display:none " value="@User.GetId()"/>
                        <div class="form-group">
                            <div class="col-md-12">
                                <label asp-for="ShippingAdress.CountryId"></label>
                                <select asp-for="ShippingAdress.CountryId" class="form-select" id="modelSelect">
                                    @foreach (var country in Model.ShippingAdress.Countries)
                                    {
                                        <option value="@country.Id">@country.Name</option>
                                    }
                                </select>
                            </div>

                        </div>
                        <input asp-for="ShippingAdress.Id" style="display:none " value="@Model.ShippingAdress.Id" />

                        <div class="form-group">

                            <label asp-for="Profile.FirstName"></label>
                            <input asp-for="Profile.FirstName" class="form-control" value="@Model.Profile.FirstName" placeholder="Ivan...">
                            <span asp-validation-for="Profile.FirstName" class="small text-danger"></span>
                        </div>

                        <div class="form-group">

                            <label asp-for="Profile.SurnameName"></label>
                            <input asp-for="Profile.SurnameName" class="form-control" value="@Model.Profile.SurnameName" placeholder="Ivanov...">
                            <span asp-validation-for="Profile.SurnameName" class="small text-danger"></span>

                        </div>
                        <div class="form-group">

                            <label asp-for="ShippingAdress.City"></label>
                            <input asp-for="ShippingAdress.City" class="form-control" value="@Model.ShippingAdress.City" placeholder="Sofia..." >
                            <span asp-validation-for="ShippingAdress.City" class="small text-danger"></span>

                        </div>
                        <div class="form-group">

                            <label asp-for="ShippingAdress.Street1"></label>
                            <input asp-for="ShippingAdress.Street1" class="form-control" value="@Model.ShippingAdress.Street1" placeholder="Tzar Boris 3...">
                            <span asp-validation-for="ShippingAdress.Street1" class="small text-danger"></span>

                        </div>
                        <div class="form-group">

                            <label asp-for="ShippingAdress.Street2"></label>
                            <input asp-for="ShippingAdress.Street2" class="form-control" value="@Model.ShippingAdress.Street2" placeholder="...">
                            <span asp-validation-for="ShippingAdress.Street2" class="small text-danger"></span>

                        </div>
                        <div class="form-group">

                            <label asp-for="ShippingAdress.StreetNumber"></label>
                            <input asp-for="ShippingAdress.StreetNumber" class="form-control" value="@Model.ShippingAdress.StreetNumber" placeholder="57...">
                            <span asp-validation-for="ShippingAdress.StreetNumber" class="small text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ShippingAdress.PostalCode"></label>
                            <input asp-for="ShippingAdress.PostalCode" class="form-control" value="@Model.ShippingAdress.PostalCode" placeholder="2500...">
                            <span asp-validation-for="ShippingAdress.PostalCode" class="small text-danger"></span>
                        </div>
                        <div class="form-group">

                            <label asp-for="Profile.PhoneNumber"></label>
                            <input asp-for="Profile.PhoneNumber" class="form-control" value="@Model.Profile.PhoneNumber" placeholder="2500...">
                            <span asp-validation-for="Profile.PhoneNumber" class="small text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Profile.Email"></label>
                            <input asp-for="Profile.Email" class="form-control" value="@Model.Profile.Email" placeholder="example@gmail.com..." >
                            <span asp-validation-for="Profile.Email" class="small text-danger"></span>
                        </div>
                        <div class="form-group">
                            <div class="col-md-6 col-sm-6 col-xs-12">
                                <button type="submit" class="btn btn-primary btn-submit-fix" value="Save">Place Order</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
        @if (Model.Profile.Addresses != null)
        {
            <div class="row">
                <partial name="_OrderAddressPartial" model="Model.Profile.Addresses.Where(x=> x.IsDefault).FirstOrDefault()"></partial>
                @foreach (var address in Model.Profile.Addresses.Where(x => x.IsDefault == false))
                {
                    <partial name="_OrderAddressPartial" model="address"></partial>
                }
            </div>
        }
    </div>
    <div class="row cart-footer">
    </div>
</div>
<script>
    $(document).ready(function () {
        function updateTotal() {
            var totalPrice = 0;
            $('.product').each(function () {
                var $product = $(this);
                var quantity = parseInt($product.find('.quantity-input').text());
                var price = parseFloat($product.find('#price').text().replace(' BGN', ''));

                totalPrice += quantity * price;
            });
            console.log(totalPrice)
            document.getElementById("total").innerText = totalPrice.toFixed(2) + ' BGN';
        }
        $('.address-checkbox').on('change', function () {
            var isChecked = $(this).prop('checked');
            var addressId = $(this).data('address-id');
            var userId = $(this).data('user-id');


            if (isChecked) {
                // AJAX POST request to set address as default
                $.post('/Order/SetDefaultAddress', { addressId: addressId, userId: userId }, function (data) {
                    // Handle the response if needed
                    if (data.success) {
                        // Reload the page after the request is successful
                        location.reload();
                    }
                });
            }
        });
        updateTotal()
    })



</script>

</script>