@using ASNClub.Infrastructure.Extensions;
@using ASNClub.ViewModels.Order;
@{
    ViewBag.Title = "My order";
}
@model MyOrderDetailsViewModel
<div class="row">
    <div class="col-lg-4">
        <div class="card mb-4 mb-lg-0">
            <div class="card-body p-0">
                <ul class="list-group list-group-flush rounded-3">
                    <a asp-controller="Profile" asp-action="MyProfile" style="text-decoration: none">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                        <p class="mb-0">My Profile</p>
                        <i class="fas fa-user mx-1" style="color: black;"></i>
                    </li>
                    </a>
                    <a asp-controller="Profile" asp-action="EditProfile" asp-route-id="@User.GetId()" style="text-decoration: none">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                        <p class="mb-0">Profile settings</p>
                        <i class="fa-solid fa-user-pen"></i>
                    </li>
                    </a>
                    <a asp-controller="Order" asp-action="MyOrders" style="text-decoration: none">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                        <p class="mb-0">My Orders</p>
                        <i class="fa-solid fa-truck-fast"></i>
                    </li>
                    </a>
                    <a asp-controller="Profile" asp-action="AddAddress" style="text-decoration: none">
                    <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                        <p class="mb-0">Add Address</p>
                        <i class="fa-solid fa-plus"></i>
                    </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="col-md-6">
            <div class="card mb-4 mb-md-0">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Number of order</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.Order.Id</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Date of order</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.Order.OrderDate</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Total price</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.Order.OrderTotal</p>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-sm-3">
                            <p class="mb-0">Status</p>
                        </div>
                        <div class="col-sm-9">
                            <p class="text-muted mb-0">@Model.Order.OrderStatus</p>
                        </div>
                    </div>
                    <hr>
                </div>
            </div>
        </div>
            <div class="card-body">
            @foreach (var product in Model.Products)
            {
                <partial name="_MyOrderItemPartial" model="product"></partial>
            }
        </div>
    </div>
</div>